.friends-modal{
    min-width: 100vw;
    min-height: 100vh;
    backdrop-filter: blur(10px);
    margin: 0;
    .modal-content{
        background-color: transparent;
        width: 100%;
        height: 100%;
        border: 0px;
    }
}