#navbar-wrapper.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeInDown 1s ease;
  /* You can add a fadeInDown animation */
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#navbar-wrapper {
  display: flex;
  justify-content: space-between;
  background: white;
  height: 80px;
  align-items: center;
  padding: 0px 60px;
  padding-left: 20px;
  z-index: 99;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .logo {
    background: white;
    border-radius: 5px;
    padding: 0px 10px;

    .header-image-logo {
      width: 150px !important;
      height: 50px  !important;
    }
  }

  .menu-container {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    align-items: center;
    height: fit-content;

    p {
      // background: green;
      color: #000080 !important;
      margin: 0px;
      cursor: pointer;
      font-weight: 500;
    }

    p:hover {
      border-bottom: 2px solid #4caf50;
      color: #4caf50 !important;
      /* Change to the desired color and style */
    }

    .active {
      border-bottom: 2px solid #4caf50;
      color: #4caf50 !important;
    }
  }

  .profile-picture-btn {
    width: 50px;
    height: 50px;
    overflow: hidden;

    .profile-picture-container {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      background-color: #fff; // Set the background color to white or your desired color

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%; // Ensure the image itself is also rounded
      }
    }
  }
}

.banner {
  background: rgba(17, 110, 34, 0.589);
  display: flex;
  flex-direction: column;
  margin: 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.753) 2px 5px 15px;
  border: 0;
  border-radius: 10px !important;

  h1 {
    font-size: calc(20px + (48 - 20) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 700;
    margin: 10px;
    line-height: 1.2;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); // Example of text shadow

    span {
      font-size: 24px !important;
      font-weight: 800;
      line-height: 1.2;
      color: red;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); // Example of text shadow
    }
  }

  .banner_Slider {
    display: flex;
    justify-content: center;
    width: 85% !important;
    align-self: center;
    align-items: center;
  }

}

.upcoming_session{
  background: white;
  display: flex;
  flex-direction: column;
  margin:0px 20px;
  margin-top: 20px;
  box-shadow: rgba(150, 150, 150, 0.753) 2px 2px 10px;
  border: 0;
  border-radius: 10px !important;

  h1 {
    font-size: calc(20px + (48 - 20) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 700;
    margin: 10px;
    line-height: 1.2;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5); // Example of text shadow

    span {
      font-size: 24px !important;
      font-weight: 800;
      line-height: 1.2;
      color: red;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); // Example of text shadow
    }
  }



  .upcoming_session_content{
    width: 100%;
    max-width: 600px;
    margin: auto;
    border: 1px solid white;

    border-radius: 10px;
    
  .instant {
    margin-top: 2px;
    background: red;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); // Example of text shadow

    h5 {
      font-size: 16px;
      @media (max-width: 575px) {
        font-size: 12px;
      }
      font-weight: 500;
      line-height: 1.2;
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); // Example of text shadow

    }
  }
  }

  h4 {
    font-size: 16px;

    @media (max-width: 575px) {
      font-size: 12px;
    }
    font-weight: 400;
    margin: 2px;
    line-height: 1.2;
    color: rgb(243, 243, 243);
  }
}

@media (max-width: 600px) {
  .upcoming_session {
   
    margin-left: 5px;

    width: 100%;

    h1 span {
      font-size: 10px;
    }

  }

  .upcoming_session .upcoming_session_content {
    width: 98% !important;
  }
}

@media (max-width: 575px) {
  .banner {
    margin: 0px;
    margin-left: 5px;
    height: 160px;
    width: 100%;

    h1 span {
      font-size: 10px;
    }

  }

  .banner .banner_Slider {
    width: 80% !important;
  }
}

@media (max-width: 767px) {
  .trainer-Pro {
    display: block !important;
  }

  .card.rounded.trainer-profile-card {
    width: 100% !important;
    margin: auto;
  }

  .card.rounded.trainer-profile-card.Select {
    margin-top: 10px !important;
  }

  .card.rounded.trainer-profile-card.Select.Recent.Student {
    width: 100% !important;
    margin: auto;
  }

  .card.rounded.trainer-profile-card.Select.Working.Hour {
    width: 60% !important;
    margin: auto;
  }

  // .calendar-container{
  //   margin: 45px !important;
  //   padding: 0;
  // }
  .Recent-Heading {
    font-size: 16px;
  }

  .rc-time-picker.ml-2.mt-2.rounded {
    margin-left: 0 !important;
    margin-top: 0 !important;

  }

  .col-12.Save-button {
    margin-top: 0 !important;
  }

  #timezone-offset {
    margin-left: 0 !important;
    margin-top: 0 !important;
  }

  .ml-2.From {
    margin-bottom: 0 !important;
    margin-top: 5px !important;
  }

  .ml-2.To {
    margin-bottom: 0 !important;
    margin-top: 5px !important;
  }

  .ml-2.TimeZone {
    margin-bottom: 0 !important;
    padding-top: 10px !important;
  }

  .calendar-container {
    width: 105% !important;
    margin-top: 16px !important;
    margin-left: 11px !important;
  }

  .card-body.change-number {
    margin: 4px !important;
    margin-left: 10px !important;

    h5 {
      font-size: 12px;
      font-weight: 500px;
    }


  }

  .timezone_offset {
    width: 50vw !important;
  }

  .welcome-text {
    text-align: center;
  }

  .Report {
    margin-top: 0 !important;
  }

  .Content-Trainer {
    display: block !important;
  }

  .bookings {
    padding: 0 !important;
    overflow: auto !important;
  }

  .custom-sidebar-content-booking {
    width: 80% !important;
    padding-right: 10px !important;

  }

  .image-gallery {
    width: 100% !important;
    justify-content: center !important;
    overflow: scroll !important;
  }

  .Stude-img {
    width: 19vw !important;
  }

  .Recent-Heading {
    font-size: 15px !important;
  }

  .card-body.Recent {
    padding: 0 !important;
  }



  #Nav-T {
    margin: 11px !important;
  }

  // .Trainer-box-1 {
  //   width: 40% !important;
  // }

  .card-body-Share-clip {
    padding: 2px !important;
  }

  .Invite-freind {
    padding: 16px !important;
  }

  .btn.btn-primary.btn-sm-Change-Picture {
    padding: 11px 6px !important;
  }

  .trainer-recommended.Slider {
    width: 80% !important;
    margin: auto !important;
  }


}

@media (max-width:576px) {


  .bookings {
    padding: 25px 15px !important;
    overflow: auto !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  }

  .custom-sidebar-content-booking {
    width: 75% !important;
    padding-right: 10px !important;
  }


  .card-body.change-number {
    margin: 4px !important;
    margin-left: 10px !important;

    h5 {
      font-size: 12px;
      font-weight: 500px;
    }

    p {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      color: #647589;
      font-size: 10px;
      min-width: 60px;
    }



  }

  .timezone_offset {
    width: 20vw !important;
  }

  .calendar-container {
    min-width: 100% !important;
    overflow: scroll;

    .fc .fc-toolbar-title {
      font-size: 1em;
      margin: 0px;
      margin-left: 5px;
    }

    .fc-direction-ltr .fc-button-group .fc-button {
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
      font-size: 9px;
    }
  }
}

@media (max-width: 768px) {
  .Recommended {
    display: block;
  }

  .recent-slider.slider-container.recent-chat {
    width: 90% !important;
  }

  .trainer-recommended.Slider {
    width: 85% !important;
  }

  .dropdown.options.open {
    max-width: 450px !important;
  }

  // .slick-slider .slick-list .slick-slide {
  //   margin-top: 5px !important;
  // }

  @media (max-width: 475px) {
    // .slick-slider .slick-list .slick-slide {
    //   margin-top: 15px !important;
    // }

    .row-cols-4>* {
      flex: 1 !important;
      max-width: 80%;
    }
  }

}



// @media (max-width: 699px) {
//   #get-navbar-tabs {
//     width: 85vw;
//   }
// }