.recent-user-modal.modal-dialog{
    max-width: 100% !important;
    margin:0 !important;
    height: 90vh !important;
    max-height: 90vh !important;
}
.recent-user-modal .modal-content{
    height: 90vh !important;
    max-height: 90vh !important;
    overflow-y: auto !important;
}
.recent-user.custom-trainer-scroll{
    height: 100vh !important;
    margin-top: 0% !important;
    position: relative !important;
    left : 0 !important;
    max-width: 100% !important;
    width: 100% !important;
    height: 100vh !important;
}
.recent-user-modal svg.close.custom-close-icon{
     z-index:999;
}