.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-content {
  display: flex;
  scroll-behavior: smooth;
  overflow-x: auto;
}

.slider-item {
  min-width: 280px;
  margin-right: 15px;
  flex-shrink: 0;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color:white;
  border: none;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  z-index: 10;
  padding: 10px;
  border-radius: 30%;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
